body {
  margin: 0;
}

.main {
  background-color: #2e302e;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  overflow-y: hidden;
}

canvas#gamecanvas {
  background-color: black;
  border-style: solid;
  border-color: white;
  height: 100vh;
  width: 500px;
}

.cancontainer {
  display: flex;
  justify-content: center;
}

.controlsContainer {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 2;
}

.buttonContainer {
  display: flex;
  align-items: end;
}

button.controlButton {
  background-color: #2e302e;
  display: block;
  margin-bottom: 10px;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-weight: bold;
  font-size: 5rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  outline: none;
  border-width: 1px;
  border-color: gray;
}

button.controlButton:active {
  border-style: solid;
  border-color: white;
}
.gameoverContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: black;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  color: white;
  display: none;
}

.gOrow {
  display: flex;
  justify-content: center;
}

.resetbtn {
  background: #2e302e;
  cursor: pointer;
  color: white;
  border-style: solid;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
